<section class="parallex-section">
	
</section>

{% schema %}
  {
    "name": "parallexbg",
    "settings": [
      {  
        "type": "image_picker",
        "id":"parallex_img_bg",
        "label": "Background image"
      }
    ] 
  }
{% endschema %}
